* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/bg.jpg");
  color: #d7d7d7;
}

body *,
:root {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}
