* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  /* primary colors */

  --brand-green: #00856f;
  --brand-green-hover: #00453a;
  --brand-green-light: #dce9e2;
  --brand-green-light-02: #f7f9f9;
  --brand-beige: #fffaf1;

  /* secondary colors */

  --headline: #212529;
  --paragraph: #495057;
  --white: #3e3e3e;
  --gray-headline: #061800;
  --gray-paragraph: #384633;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--brand-green-light-02);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%; // Respeita 100% o tamanho da caixa que ele está mantido, o wrapper
}

section {
  padding-block: 10rem;
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--brand-green);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section .content p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--paragraph);
}