* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  /* primary colors */

  --brand-green: #00856f;
  --brand-green-hover: #00453a;
  --brand-green-light: #dce9e2;
  --brand-green-light-02: #f7f9f9;
  --brand-beige: #fffaf1;

  /* secondary colors */

  --headline: #212529;
  --paragraph: #495057;
  --white: #3e3e3e;
  --gray-headline: #061800;
  --gray-paragraph: #384633;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--brand-green-light-02);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

section {
  padding-block: 10rem;
}
