#home::before {
  content: "";
  width: 100%;
  height: calc(94rem + 7.2rem);
  background-color: var(--brand-green-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + 7.2rem);
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

#home .button {
  margin: auto;
}

#home .main-image {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
}

#home .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;

  width: 100%; /* Ocupa toda a largura disponível do elemento pai o wrapper */
  padding-block: 4rem;
  margin-inline: auto;

  background: var(--brand-beige);
  border: 1px solid var(--brand-green-light);
  border-radius: 0.6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--headline);

  margin-bottom: 0.4rem;
}

#home .stat p {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--brand-green);

  margin: 0;
}

@media (min-width: 1024px) {
  #home::before {
    height: calc(97% - 7.2rem);
  }

  #home {
    padding-top: 7.2rem;
  }

  #home .wrapper {
    align-items: end;
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas: 
    'A B'
    'C C';
  }

  #home .col-a {
    text-align: left;
    align-self: center;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home .stats {
    grid-area: C;

    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--brand-green);
  }

  #home .stats .stat {
    flex: 1; 
  }

  #home .button {
    margin: 0;
  }

  #home .main-image {
    width: 42rem;
  }
}