nav {
  display: flex;

  height: 7.2rem;

  position: fixed; 
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--brand-green);
}

nav.scroll .logo path {
  fill: #FFFFFF;
}

nav.scroll button path {
  stroke: #FFFFFF;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}