nav {
  display: flex;

  height: 7.2rem;

  position: fixed; 
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--brand-green);
}

nav.scroll .logo path {
  fill: #FFFFFF;
}

nav.scroll button path {
  stroke: #FFFFFF;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

@media (min-width: 1024px) {
  /* Reset */
  nav#navigation .wrapper * { 
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
    margin: 0 auto;
  }

  nav#navigation .menu ul li a {
    color: var(--brand-green);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 2.4rem;

    border: 1px solid var(--brand-green);
    border-radius: 4rem;

    color: var(--brand-green);

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-green-light-02);
    opacity: 0.6;
  }

  nav#navigation.scroll .menu a.button {
    border-color: #FFFFFF;
    color: #FFFFFF;
  }

  nav#navigation .menu li a {
    transition: opacity .4s;
  }

  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--brand-green);

    position: relative;
    bottom: -1.9rem;
    left: -0.8rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: #FFFFFF;
  }

  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--brand-green);
    border: none;
    color: #FFFFFF;
    border: #FFFFFF;
  }

  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--brand-green-hover);
    border: none;
  }

  /* Estilos para links ativos dentro de li */
  nav#navigation .menu li a.active {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a.active::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  /* Estado hover do botão */
  nav#navigation .menu a.button:hover {
    background-color: var(--brand-green);
    border: none;
    color: #FFFFFF;
  }

  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--brand-green-hover);
    border: none;
  }

  /* Estado ativo do botão */
  nav#navigation .menu a.button.active {
    opacity: 1;
    font-weight: 700;
    background-color: var(--brand-green);
    border: none;
    color: #FFFFFF;
  }

  nav#navigation.scroll .menu a.button.active {
    background-color: var(--brand-green-hover);
    border: none;
    color: #FFFFFF;
  }
}