@media (min-width: 1024px) {
  /* Geral */

  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  section {
    padding-block: 16rem;
  }

  section h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }
}