#services h2 {
  margin-bottom: 6rem;
}

.cards {
  display: flex;
  flex-direction: column;

  gap: 3.2rem;
}

.card {
  padding: 2.4rem;
  text-align: left;

  background: #FFFFFF;

  border: 1px solid var(--brand-green-light);
  border-radius: .6rem;
}

.card h3 {
  margin-block: 1.6rem;
}